<div class="page bg-primary">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col mx-auto">
            <div class="row justify-content-center">
              <div class="col-md-5">
                <div class="card">
                    <!-- <div *ngIf="submitted" class="progress progress-xs">
                        <div
                          class="progress-bar progress-bar-indeterminate bg-info"
                        ></div>
                      </div> -->
                      <div class="card-body">
                        <div class="text-center title-style">
                          <img
                            src="./assets/images/png/JioCinema-logo-min.png"
                            alt="movieApp_Login"
                            width="100"
                            height="100"
                          />
                          <p class="text-white mt-1">Recuperar Contraseña</p>
                        </div>
                        <form (ngSubmit)="onSubmit()" [formGroup]="formPasswordReset">
                            <div class="form-group">
                                <label class="form-label"
                                  >Correo<span class="text-red"> *</span></label
                                >
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <i class="fe fe-mail"></i>
                                    </div>
                                  </div>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Correo"
                                    formControlName="email"
                                    [ngClass]="{
                                      'is-invalid': submitted && f.email.errors
                                    }"
                                  />
                                </div>
                                <div
                                  *ngIf="
                                    (f.email.touched || f.email.dirty) &&
                                    f.email.errors
                                  "
                                  class="bg-danger-transparent-2 text-danger px-2 py-2 br-3 mb-2"
                                  role="alert"
                                >
                                  <div class="text-error" *ngIf="f.email.errors.required">
                                    El Correo es requerido
                                  </div>
                                  <div class="text-error" *ngIf="f.email.errors.email">
                                    Ingrese un correo valido
                                  </div>
                                </div>
                              </div>
                              <div class="row mt-4">
                                <div class="col-12">
                                  <button
                                    type="submit"
                                    class="btn btn-primary btn-block px-4"
                                    [disabled]="submitted || formPasswordReset.invalid"
                                  >
                                    Enviar Correo
                                  </button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center pt-4 mt-4">
                            <div class="font-weight-normal fs-16">
                              Inentar el ingreso nuevamente
                              <a
                                class="btn-link font-weight-normal text-info"
                                [routerLink]="['/main/auth/login']"
                                >Iniciar Sesión</a
                              >
                            </div>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>