<div class="page">
  <div class="page-main">
    <app-sidebar></app-sidebar>
    <div class="app-content main-content">
      <div class="side-app">
        <app-header (searchValue)="searchMovie($event)"></app-header>
        <app-pages-header></app-pages-header>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!-- Back to top -->
<div id="back-to-top" class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
      <i class="fe fe-chevrons-up text-white" ></i>
  </button>
</div>
