<div class="page bg-primary">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col mx-auto">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="card">
                <div *ngIf="submitted" class="progress progress-xs">
                  <div
                    class="progress-bar progress-bar-indeterminate bg-info"
                  ></div>
                </div>
                <div class="card-body">
                  <div class="text-center title-style">
                    <img
                      src="./assets/images/png/JioCinema-logo-min.png"
                      alt="movieApp_Login"
                      width="100"
                      height="100"
                    />
                    <p class="text-white mt-1">Ingresa a tu Cuenta</p>
                  </div>

                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                      <label class="form-label"
                        >Correo:<span class="text-red"> *</span></label
                      >
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-mail"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Correo"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid': submitted && f.email.errors
                          }"
                        />
                      </div>
                      <div
                        *ngIf="isValidInput('email')"
                        class="text-danger br-3 mb-2"
                      >
                        <span class="text-error" *ngIf="f.email.errors.required">
                          El Correo es requerido
                        </span>
                        <span class="text-error" *ngIf="f.email.errors.email">
                          Ingrese un correo valido
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label"
                        >Contraseña:<span class="text-red"> *</span></label
                      >
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-lock"></i>
                          </div>
                        </div>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Password"
                          formControlName="password"
                          [ngClass]="{
                            'is-invalid': submitted && f.password.errors
                          }"
                        />
                      </div>
                      <div
                        *ngIf="isValidInput('password')"
                        class="text-danger br-3 mb-2"
                      >
                        <span
                          class="text-error"
                          *ngIf="f.password.errors.required"
                        >
                          La contraseña es requerida
                        </span>
                      </div>
                    </div>

                    <label class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        formControlName="remember"
                      />
                      <span class="custom-control-label"> Recordarme</span>
                    </label>
                    <div class="row mt-4">
                      <div class="col-12">
                        <button
                          type="submit"
                          class="btn btn-primary btn-block px-4"
                          [disabled]="submitted || loginForm.invalid"
                        >
                          Ingresar
                        </button>
                      </div>
                    </div>
                  </form>
                  <div class="row mt-4">
                    <div class="col-12 text-center">
                      <a
                        [routerLink]="['/main/auth/password-reset']"
                        class="btn btn-link box-shadow-0 px-4"
                        >Olvidaste la Contraseña?</a
                      >
                    </div>
                  </div>
                  <div class="text-center pt-4">
                    <div class="font-weight-normal fs-16">
                      No posees una Cuenta?
                      <a
                        class="btn-link font-weight-normal text-info"
                        [routerLink]="['/main/auth/register']"
                      >
                        <strong> Registrate Aquí</strong></a
                      >
                    </div>
                  </div>
                  <hr class="divider my-6" />
                  <app-auth-providers></app-auth-providers>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
