<div class="page bg-primary">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col mx-auto">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="card">
                <div *ngIf="submitted" class="progress progress-xs">
                  <div
                    class="progress-bar progress-bar-indeterminate bg-info"
                  ></div>
                </div>
                <div class="card-body">
                  <div class="text-center title-style">
                    <img
                      src="./assets/images/png/JioCinema-logo-min.png"
                      alt="movieApp_Login"
                      width="100"
                      height="100"
                    />
                    <p class="text-white mt-1">Ingresa a tu Cuenta</p>
                  </div>

                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label class="form-label"
                        >Correo<span class="text-red"> *</span></label
                      >
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-mail"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Correo"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid': submitted && f.email.errors
                          }"
                        />
                      </div>
                      <div
                        *ngIf="
                          (f.password.touched || f.email.dirty) &&
                          f.email.errors
                        "
                        class="bg-danger-transparent-2 text-danger px-2 py-2 br-3 mb-2"
                        role="alert"
                      >
                        <div class="text-error" *ngIf="f.email.errors.required">
                          El Correo es requerido
                        </div>
                        <div class="text-error" *ngIf="f.email.errors.email">
                          Ingrese un correo valido
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label"
                        >Contraseña<span class="text-red"> *</span></label
                      >
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-lock"></i>
                          </div>
                        </div>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Password"
                          formControlName="password"
                          [ngClass]="{
                            'is-invalid': submitted && f.password.errors
                          }"
                        />
                      </div>
                      <div
                        *ngIf="
                          (f.password.touched || f.password.dirty) &&
                          f.password.errors
                        "
                        class="bg-danger-transparent-2 text-danger px-2 py-2 br-3 mb-2"
                        role="alert"
                      >
                        <div
                          class="text-error"
                          *ngIf="f.password.errors.required"
                        >
                          La contraseña es requerida
                        </div>
                      </div>
                    </div>

                    <label class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        formControlName="remember"
                      />
                      <span class="custom-control-label"> Recordarme</span>
                    </label>
                    <div class="row mt-4">
                      <div class="col-12">
                        <button
                          type="submit"
                          class="btn btn-primary btn-block px-4"
                          [disabled]="submitted || loginForm.invalid"
                        >
                          Ingresar
                        </button>
                      </div>
                    </div>
                  </form>
                  <div class="row mt-4">
                    <div class="col-12 text-center">
                      <a
                        href="forgot-password.html"
                        class="btn btn-link box-shadow-0 px-4"
                        >Olvidaste la Contraseña?</a
                      >
                    </div>
                  </div>
                  <div class="text-center pt-4">
                    <div class="font-weight-normal fs-16">
                      No posees una Cuenta?
                      <a
                        class="btn-link font-weight-normal"
                        [routerLink]="['/main/auth/register']"
                      >
                        <strong>Registrate Aquí</strong></a
                      >
                    </div>
                  </div>
                  <hr class="divider my-6" />
                  <div class="d-flex justify-content-around">
                    <div style="max-width: 300px">
                      <button
                        (click)="googleLogin()"
                        class="btn btn-social mr-4"
                        ngbTooltip="Google"
                        placement="top"
                      >
                        <svg
                          height="20"
                          width="20"
                          viewBox="0 0 48 48"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                        >
                          <defs>
                            <path
                              d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"
                              id="a"
                            />
                          </defs>
                          <clipPath id="b">
                            <use overflow="visible" xlink:href="#a" />
                          </clipPath>
                          <path
                            clip-path="url(#b)"
                            d="M0 37V11l17 13z"
                            fill="#FBBC05"
                          />
                          <path
                            clip-path="url(#b)"
                            d="M0 11l17 13 7-6.1L48 14V0H0z"
                            fill="#EA4335"
                          />
                          <path
                            clip-path="url(#b)"
                            d="M0 37l30-23 7.9 1L48 0v48H0z"
                            fill="#34A853"
                          />
                          <path
                            clip-path="url(#b)"
                            d="M48 48L17 24l-4-3 35-10z"
                            fill="#4285F4"
                          />
                        </svg>
                      </button>
                      <button
                        class="btn btn-social mr-4"
                        ngbTooltip="Facebook"
                        placement="top"
                        (click)="facebookLogin()"
                      >
                        <svg
                          height="20"
                          viewBox="88.428 12.828 107.543 207.085"
                          width="20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M158.232 219.912v-94.461h31.707l4.747-36.813h-36.454V65.134c0-10.658 2.96-17.922 18.245-17.922l19.494-.009V14.278c-3.373-.447-14.944-1.449-28.406-1.449-28.106 0-47.348 17.155-47.348 48.661v27.149H88.428v36.813h31.788v94.461l38.016-.001z"
                            fill="#3c5a9a"
                          />
                        </svg>
                      </button>
                      <button
                        class="btn btn-social"
                        ngbTooltip="Twitter"
                        placement="top"
                        (click)="twitterLogin()"
                      >
                        <svg
                          height="26"
                          width="26"
                          viewBox="0 0 400 400"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <defs>
                            <style>
                              .cls-2 {
                                fill: #1da1f2;
                              }
                            </style>
                          </defs>
                          <path
                            class="cls-2"
                            d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
