<div class="page bg-primary">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col mx-auto">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="card">
                <div *ngIf="submitted" class="progress progress-xs">
                  <div
                    class="progress-bar progress-bar-indeterminate bg-info"
                  ></div>
                </div>
                <div class="card-body">
                  <div class="text-center title-style mb-6">
                    <h1 class="mb-2">Register</h1>
                    <hr />
                  </div>
                  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                    <div class="form-group">
                      <label class="form-label"
                        >Nombre:<span class="text-red">*</span></label
                      >
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-user"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Nombre"
                          formControlName="displayName"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label"
                        >Correo:<span class="text-red">*</span></label
                      >
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-mail"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ingresar Correo"
                          formControlName="email"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label"
                        >Contraseña:<span class="text-red">*</span></label
                      >
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-lock"></i>
                          </div>
                        </div>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Contraseña"
                          formControlName="password"
                        />
                      </div>
                      <strength-meter
                        *ngIf="f.password.dirty"
                        [value]="f.password.value"
                        (measure)="onStrengthChange($event)"
                      ></strength-meter>
                    </div>
                    <div class="form-group">
                      <label class="form-label"
                        >Confirmar Contraseña:<span class="text-red"
                          >*</span
                        ></label
                      >
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-lock"></i>
                          </div>
                        </div>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Confirmar Contraseña"
                          formControlName="confirmPassword"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label"
                          ><a href="terms.html">
                            Agree the Terms and policy</a
                          ></span
                        >
                      </label>
                    </div>
                    <div class="row mt-4">
                      <div class="col-12">
                        <button
                          type="submit"
                          class="btn btn-primary btn-block px-4"
                        >
                          Create New Account
                        </button>
                      </div>
                    </div>
                  </form>
                  <div class="text-center pt-4 mt-4">
                    <div class="font-weight-normal fs-16">
                      You Already have an account
                      <a
                        class="btn-link font-weight-normal"
                        [routerLink]="['/main/auth/login']"
                        >Login Here</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
