<div class="page bg-primary">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col mx-auto">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="card">
                <div *ngIf="submitted" class="progress progress-xs">
                  <div
                    class="progress-bar progress-bar-indeterminate bg-info"
                  ></div>
                </div>
                <div class="card-body">
                  <div class="text-center title-style">
                    <img
                      src="./assets/images/png/JioCinema-logo-min.png"
                      alt="movieApp_Login"
                      width="100"
                      height="100"
                    />
                    <p class="text-white mt-1">Registrar tu Cuenta</p>
                  </div>
                  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
                    <div class="form-group">
                      <label class="form-label"
                        >Nombre:<span class="text-red">*</span></label
                      >
                      <div class="input-group mb-0">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-user"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Nombre"
                          formControlName="displayName"
                          [ngClass]="{
                            'is-invalid': submitted && f.email.errors
                          }"
                        />
                      </div>
                      <div
                        *ngIf="isValidInput('displayName')"
                        class="text-danger br-3 mb-2"
                      >
                        <div
                          class="text-error"
                          *ngIf="f.displayName.errors.required"
                        >
                          El Nombre es Requerido
                        </div>
                        <div
                          class="text-error"
                          *ngIf="f.displayName.errors.minlength"
                        >
                          El Nombre debe contener mas de 2 carácteres
                        </div>
                        <div
                          class="text-error"
                          *ngIf="f.displayName.errors.maxlength"
                        >
                          El Nombre debe contener menos de 50 carácteres
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label"
                        >Correo:<span class="text-red">*</span></label
                      >
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fe fe-mail"></i>
                          </div>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ingresar Correo"
                          formControlName="email"
                        />
                      </div>
                      <div
                        *ngIf="isValidInput('email')"
                        class="text-danger br-3 mb-2"
                      >
                        <div class="text-error" *ngIf="f.email.errors.required">
                          El Correo es requerido
                        </div>
                        <div class="text-error" *ngIf="f.email.errors.pattern">
                          Ingrese un correo valido
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="form-label"
                          >Contraseña:<span class="text-red">*</span></label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fe fe-lock"></i>
                            </div>
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Contraseña"
                            formControlName="password"
                          />
                        </div>
                        <div
                          *ngIf="isValidInput('password')"
                          class="text-danger br-3 mb-2"
                        >
                          <div
                            class="text-error"
                            *ngIf="f.password.errors.required"
                          >
                            La contraseña es requerida
                          </div>
                          <div
                            class="text-error"
                            *ngIf="f.password.errors.minlength"
                          >
                            La contraseña debe contener mas de 8 carácteres
                          </div>
                          <div
                            class="text-error"
                            *ngIf="f.password.errors.maxlength"
                          >
                            La contraseña debe contener menos de 12 carácteres
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label class="form-label"
                          >Repetir Contraseña:<span class="text-red"
                            >*</span
                          ></label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fe fe-lock"></i>
                            </div>
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Repetir Contraseña"
                            formControlName="confirmPassword"
                          />
                        </div>
                        <div
                          *ngIf="isValidInput('confirmPassword')"
                          class="text-danger br-3 mb-2"
                        >
                          <div
                            class="text-error"
                            *ngIf="f.confirmPassword.errors.required"
                          >
                            Confirmar la contraseña es requerida
                          </div>
                          <div
                            class="text-error"
                            *ngIf="f.confirmPassword.errors.confirmedValidator"
                          >
                            Las Contraseñas no coinciden.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          formControlName="policy"
                        />
                        <span class="custom-control-label"
                          ><a href="terms.html">
                            Acepto los Términos y Condiciones</a
                          ></span
                        >
                      </label>
                      <div
                        *ngIf="!f.policy.value && submitted"
                        class="text-danger br-3 mb-2"
                      >
                        <div class="text-error">
                          Debe aceptar los terminos y condiciones.
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-4">
                      <button
                        type="submit"
                        class="btn btn-primary btn-block px-4"
                        [disabled]="submitted || registerForm.invalid"
                      >
                        Registrarse
                      </button>
                    </div>
                  </form>
                  <div class="text-center pt-4 mt-4">
                    <div class="font-weight-normal fs-16">
                      Ya estas Registrado?
                      <a
                        class="btn-link font-weight-normal text-info"
                        [routerLink]="['/main/auth/login']"
                        ><strong> Iniciar Sesión</strong></a
                      >
                    </div>
                  </div>
                  <hr class="divider my-6" />
                  <app-auth-providers></app-auth-providers>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
