/* You can add global styles to this file, and also import other style files */
//@import "./assets/css/style.css";
// @import "./assets/css/dark.css";
// @import "./assets/css/skin-modes.css";
// @import "./assets/css/sidemenu.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

.page-size-selection {
  display: none !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.ps > .ps__rail-x,
.ps > .ps__rail-y {
  opacity: 0.6;
  background: blue;
}

::-webkit-scrollbar {
  display: none;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.42rem;
}
.symbol.symbol-20 > img {
  width: 100%;
  max-width: 20px;
  height: 20px;
}
.symbol.symbol-20 .symbol-label {
  width: 20px;
  height: 20px;
}
.symbol.symbol-20 .symbol-badge {
  width: 12px;
  height: 12px;
  top: -6px;
  left: -6px;
}

.topbar-item {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  align-items: stretch;
}

.strengthBar {
  width: 100% !important;
}

.title-class {
  background: #232323;
  color: #fff !important;
}
.content-class {
  background: #232323;
  color: aliceblue !important;
}
.swal2-timer-progress-bar {
  background: #0062cd !important;
}

.btn-social {
  padding: 2px 2px 4px 1px;
  background: #fff;
  border-radius: 50% !important;
  width: 36px !important;
  height: 36px !important;
}

.text-error {
  font-size: 10px !important;
}
mwl-gauge {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  z-index: 3;
  top: -5px;
  left: 8px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 5;
  fill: rgba(0, 0, 0, 1);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(19, 214, 78);
  stroke-width: 5;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
  fill: yellow;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
