<perfect-scrollbar>
  <h3></h3>
  <h2>{{ "DASHBOARD.TITLE" | translate }}</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" *ngFor="let movie of movies">
        <img
          class="img-fluid"
          [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
          [alt]="movie.title"
        />
        <h6 class="text-white mt-1">{{ movie.title }}</h6>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 2rem">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <ngx-paginate
          [page]="page"
          [options]="options"
          (pageChange)="setPage($event)"
          (pageSizeChange)="setPage($event)"
        >
        </ngx-paginate>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</perfect-scrollbar>
