<perfect-scrollbar>
  <div class="px-4 mb-4">
    <h3>{{ "DASHBOARD.TITLE" | translate }}</h3>
  </div>
  <div class="container-fluid">
    <app-movie-card [movies]="movies"></app-movie-card>

    <div class="row justify-content-center mt-4" *ngIf="movies">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <ngx-paginate
          [page]="page"
          [options]="options"
          (pageChange)="setPage($event)"
          (pageSizeChange)="setPage($event)"
        >
        </ngx-paginate>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</perfect-scrollbar>
