ngx-paginate ::ng-deep .page-entry {
  background-color: #383838;
  color: #868e96;
  border: 1px solid #868e96;
}
ngx-paginate ::ng-deep .page-entry:hover {
  background-color: #0455b1;
}
ngx-paginate ::ng-deep .page-entry.active {
  background-color: #0455b1;
  color: #fff;
}
